{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Ajout d'un dev {% endblock %}
       
{% block contenu %} <h1> Ajout d'un dev </h1> 

{% if form.valide is defined %} 
    {% if form.valide == true %}
       <h1 class="h3 mb-3 font-weight-normal">Ajout réussie</h1>
    {% else %} 
       <h1 class="h3 mb-3 font-weight-normal">{{ form.valide.message }}</h1> 
    {% endif %}     
{% else %}      
    
<div class="panel-body">
  <form  class="form-signin" action="index.php?page=developpeursajout" method="post" enctype="application/x-www-form-urlencoded">
    <label for="nom" class="sr-only">Nom:</label>
    <input type="text" id="nom" name="nom" class="form-control" placeholder="Saisir un nom" required autofocus>
     <label for="prenom" class="sr-only">Prenom:</label>
    <input type="text" id="prenom" name="prenom" class="form-control" placeholder="Saisir un prenom" required autofocus>
     <label for="datenaissance" class="sr-only">datenaissance:</label>    
    <input type="date" id="datenaissance" name="datenaissance" class="form-control" placeholder="Saisir une date de naissance" required autofocus>
    <label for="tel" class="sr-only">Tel:</label>
    <input type="text" id="tel" name="tel" class="form-control" placeholder="Saisir un N° de tel" required autofocus>
    <label for="adresse" class="sr-only">Adresse:</label>
    <input type="text" id="adresse" name="adresse" class="form-control" placeholder="Saisir une adresse" required autofocus>
    <label for="remuneration" class="sr-only">Remuneration:</label>
    <input type="text" id="remuneration" name="remuneration" class="form-control" placeholder="Saisir une remuneration" required autofocus>
    <label for="couthoraire" class="sr-only">couthoraire:</label>
    <input type="text" id="couthoraire" name="couthoraire" class="form-control" placeholder="Saisir un couthoraire" required autofocus>
    <select name="idEquipe" class="form-control">
        
        {% for r in form.liste3 %}
            <option value="{{ r.id }}">{{ r.libelle }}  </option> 
        {% endfor%}    
    </select>  
   
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="btAjouter">Ajouter</button>
  </form>
</div>    
{% endif %}
{% endblock %} 
